/* 初始化元素 */
body, h1, h2, h3, h4, h5, h6, hr, p, 
blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, 
legend, button, input, textarea, th, td { margin:0; padding:0; }
/* 去img边距兼容浏览器 */
img{
    outline: none;
    border: none;
}
/* 列表去前标点 */
ul,ol{
    list-style: none;
}
/* a元素去下划线颜色灰色 */
a{
    text-decoration: none;
    color:#665555;
}
/* a的hover颜色变红 */
a:hover{
    color: #C9483C;
}

/* 在这里设置body全篇的默认字体和间距 */
body{
    font:0.375rem/1.5 Helvetica Neue,Helvetica,tahoma,Arial,\5FAE\8F6F\96C5\9ED1;
}

/* 用于居中 */
.wrap{
    min-width: 360px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

/* 我的回合--发动弹性布局 */
.flex{
    display: flex;
}
/* 一行不够怎么办 */
/* 换行，第一行在上方 */
.flex-wrap{
    flex-wrap: wrap;
}
/* 整体水平方向 */
/* 平分到底 */
.flex-sb{
    justify-content: space-between;
}
/* 两端留空 */
.flex-sa{
    justify-content: space-around;
}
/* 在中间 */
.flex-c{
    justify-content: center;
}

/* 整体垂直方向 */
/* 垂直中间 */
.flex-center{
    align-items: center;
}
/* 都给我蹲着 */
.flex-end{
    align-items: flex-end;
}
/* 都给我跳 */
.flex-start{
    align-items: flex-start;
}

.mt20{
    margin-top: 0.625rem;
}
.mb20{
    margin-bottom: 0.625rem;
}
.p30{
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
.sA{
    padding-right: 0.75rem ;
    padding-left:1.2813rem;
}

.body_app{
    max-width: 23.4375rem;
    min-width: 10rem;
    margin: 0 auto;
    height: auto;
}

/* 空白条 */
.abc{
    height: 
}